@import 'variables';
@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label {
  margin: 0;
}

.form-group {
  display: flex;
  white-space: nowrap;
}

input[type='text'],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid
    map-get($map: $theme-colors, $key: 'primary');
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  margin-left: 10px;
  padding: 0;
  height: auto;
  line-height: 1;
  color: map-get($map: $theme-colors, $key: 'primary');
}

input[type='text']:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mitigation-row {
  transition: background-color 0.2s;
  &:hover {
    background-color: lighten(
      map-get($map: $theme-colors, $key: 'primary'),
      52%
    );
  }
}

.custom-switch .custom-control-label::after {
  top: 50%;
  transform: translate(0.75rem, -50%);
}
.custom-switch
  .custom-control-input:checked
  ~ .custom-control-label::after {
  transform: translate(0, -50%);
}
.custom-switch .custom-control-label::before {
  top: 50%;
  transform: translate(0, -50%);
}
.custom-switch.custom-switch-right {
  padding: 0;
  .custom-control-label {
    padding-right: 33px;
  }
}
.custom-switch.custom-switch-right .custom-control-label::after {
  right: 14px;
  left: auto;
}

.custom-switch.custom-switch-right .custom-control-label::before {
  right: 0;
  left: auto;
  transform: translate(0, -50%);
}

// END OF TODO
